@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100, 200, 300, 400, 500, 600, 700&display=swap');

*{
  font-family: "Roboto";
}

body{
 
  margin: 0 30px;
  font-family: "Roboto";
  background: #f1f1f1;
}
nav {
  background-color: aliceblue;
  padding: 16px 32px;
}
nav a {
  margin-right: 16px;
}

/* nav a.active {
  text-decoration: none;
  font-weight: bold;
} */